<!-- <p>manga-card works!</p> -->

<div class="btn-wrapper">
  <button class="btn">
    <div class="btn-inner">
      <span class="icon"></span>
      <span class="label">FEED</span>
    </div>
  </button>
  <button class="btn">
    <div class="btn-inner">
      <span class="icon"></span>
      <span class="label">SERACH</span>
    </div>
  </button>
  <button class="btn">
    <div class="btn-inner">
      <span class="icon"></span>
      <span class="label">NEWS</span>
    </div>
  </button>
</div>

<div>
  <div *ngFor="let oneData of manga.data">
    <p>{{oneData.data.title}}</p>
    <img [src]="oneData.image">
  </div>
</div>
